[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=blobtilesetviewer
X-Python-2-Compatible=false
Name=Blob tileset viewer
Comment=Convert your 1x5 tileset to the blob tileset and view it.
